#!/bin/bash

export ORACLE_SID={{ primary_sid }}
export ORACLE_HOME={{ oracle_home }}
export PATH=${ORACLE_HOME}/bin:$PATH 

dgmgrl <<EOF
connect / as sysdba
create configuration oem as primary database is {{ primary_sid }} connect identifier is {{ primary_sid }};
add database {{ standby_sid }} as connect identifier is {{ standby_sid }};
enable configuration
EOF